<div id="index">

<h1 style="color: gold; border-bottom: 1px solid gold"><strong>LoL Analysis</strong></h1>

<h2 style="color: gold"><em>Welcome Aboard</em></h2>

<p>Nessa página você poderá acessar, visualizar, criar, deletar e editar dados do banco de dados da aplicação 
Ruby on Rails dedicada à controle de times, jogadores e funções que podem ser atribuídas aos jogadores</p>
<p>Para popular a aplicação para teste rode => rake db:seed</p>
<p>Para esta estrutura, a aplicação foi desenvolvida com base no jogo online League of Legends</p>
<p>O site conta com botões que levam às suas respectivas páginas e executam determinadas funções. O menu principal 
está presente em todas elas assim como a logo do site que é um link para o index que você está lendo</p>

<p style="color: gold">Na página Players pode-se encontrar:</p>
<ul style="padding-left: 15px">
    <li>botão para criar um novo player e um botão back que leva para a última 
página acessada)</li>
    <li>tabela que permite a visualização de todos os jogadores e seus dados</li>
    <li>links à frente de cada jogador que levam, respectivamente, ao time que o jogador pertence, ao show 
    do jogador (espécie de perfil com os dados dele), ao edit do jogador (onde seus dados podem ser alterados) 
    e um link destroy, que permite apagar o jogador</li>
    <li>para inserir um novo player você precisa primeiro ter um time para inseri-lo</li>
</ul>

<p style="color: gold">Na página Teams pode-se encontrar:</p>
<ul style="padding-left: 15px">
    <li>botão para criar um novo team e um botão back que leva para a última 
página acessada)</li>
    <li>tabela que permite a visualização de todos os teams e seus dados</li>
    <li>links à frente de cada team que levam, respectivamente, ao show do team (espécie de perfil com os
    dados dele), ao edit do team (onde seus dados podem ser alterados) e um link destroy, que permite apagar
    o team</li>
</ul>

<p style="color: gold">Na página Roles pode-se encontrar:</p>
<ul style="padding-left: 15px">
    <li>botão back que leva para a última página acessada)</li>
    <li>tabela que permite a visualização das roles disponíveis</li>
    <li>link à frente de cada role que leva ao show da role, onde pode-se visualizar todos os jogadores que
    tem essa role</li>
</ul>

<p style="color: gold">Na página Playerroles pode-se encontrar:</p>
<ul style="padding-left: 15px">
    <li>botão back que leva para a última página acessada)</li>
    <li>tabela que permite a visualização de todos os players com suas respectivas roles</li>
    <li>links à frente de cada playerrole que levam, respectivamente, ao show da playerrole (espécie de perfil com os dados
    dela) e um link destroy, que permite apagar a playerrole</li>
    <li>tabela que permite a visualização de todos os players que não possuem roles</li>
    <li>Formulário simples - New PR - onde pode-se criar uma nova relação player - role</li>
</ul>

<h2>Agora você pode desbravar a aplicação e seus poderes</p>
<h1 style="color: gold">Thanks for visiting</h2>

</div>