/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html{
     height: 100%;
 }
 
 body{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: radial-gradient(closest-side at 50% 40%, black 130%, gold 250%);
 }
 
 .btn:first-line{
  color: black;
  font-weight: bold;
 }
 
 p strong{
     color: gold;
 }
 
 h1, h2, p{
     color: white;
 }
 
 label{
  color: gold;
 }
 
 input, select{
  background-color: #333333;
  border-color: gold;
  color: gold;
 }
 
 ul{
  color: white;
  list-style-type: none
 }