/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 *{
  margin: 0;
  padding: 0;
 }
 
 html{
  margin: 0px;
  padding: 0px;
  height: 100%;
 }
 
 body{
  margin: 0px 0px 40px;
  padding: 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: radial-gradient(closest-side at 50% 40%, black 130%, gold 250%);
 }
 
 #menu_principal{
  margin: 0 180px;
 }
 
 #menu_principal ul li{
  display: inline-block;
  font-size: 20px;
 }
 
 #logo img{
  height: 140px;
  border-radius: 50%;
 }
 
 #topo{
  text-align: center;
 }
 
 #rodape{
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  text-align: center;
 }
 
 .btn{
  font-weight: bold;
 }
 
 p strong{
  color: gold;
 }
 
 h1, h2, h3, p{
  color: white;
 }
 
 #index p, #index li{
  font-size: 18px;
 }
 
 label{
  color: gold;
 }
 
 input, select{
  background-color: #333333;
  border-color: gold;
  color: gold;
 }
 
 ul{
  color: white;
  list-style-type: none
 }