<!DOCTYPE html>
<html>
<head>
  <title>LoL Analysis</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <link rel="stylesheet" type="text/css" href="/lol/app/assets/stylesheets/bootstrap-4.3.1-dist/css/bootstrap-grid.css">
  <link rel="stylesheet" type="text/css" href="/lol/app/assets/stylesheets/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="/lol/app/assets/stylesheets/bootstrap-4.3.1-dist/css/bootstrap-reboot.css">
  <link rel="stylesheet" type="text/css" href="/lol/app/assets/stylesheets/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" type="text/css" href="/lol/app/assets/stylesheets/bootstrap-4.3.1-dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/lol/app/assets/stylesheets/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  
</head>

<body>
  
  <div class="container">
    <div id="menu_principal">
      <ul>
        <li>Players</li>
        <li>Teams</li>
        <li>Roles</li>
      </ul>
    </div>
  </div>
  
  <%= yield %>
  
</body>
</html>